.container-dash {
    min-height: 100%;
    padding-top: 55px;
}

.mat-card-sm-image {
    border-radius: 50%;
    box-shadow: 1px 1px #8a9fad;
    border: 1px solid #d7e2e8;
}

.title-card {
    background-color: #c4d7e6;
    padding: 8px 8px 2px 8px;
    color: #045fa6;
}

.mat-card-title {
    font-size: 20px;
    font-weight: 400;
}

.mat-card-sm-image {
    width: 60px;
    height: 60px;
}

.no-flight-card {
    background-color: #c4d7e6;
    padding: 75px 100px;
    color: #045fa6;
}