.flightContainerBg {
	height: 524px;
    position: relative;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;*/
    .bgContainer {
    	position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    z-index: 1;

    }
    .main-container {
    	z-index: 2;
    }
}